.background-img{
	/*width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -999;
    min-width: 1200px;*/
}
.background-img img{
	/*height: 100%;
	width: 100%;*/
}
body{
	background: url(../images/login_register/login-register-background.jpg)  no-repeat center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/login_register/login-register-background.jpg',
    sizingMethod='scale');
	-ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
    src='../images/login_register/login-register-background.jpg',
    sizingMethod='scale');
    min-height: 680px;
    overflow-y:auto; 
}
.login-after-main{
	background-image: none;
}
.placeholder {
	color: #ccc;
}
input{
	 border: none;
	 cursor: pointer;
}
.main{
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
/*.main .login,.main .register{
	position: relative;
	width: 400px;
    margin:205px auto 0;
}*/
.main .login,.main .register{
	position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    margin: auto;
}
.main .login{
	height:535px;
}
.main .register{
	height:680px;
}
.main .login .carme-logo,.main .register .carme-logo{
    display: block;
    height: 91px;
	background: url(../images/login_register/carme-logo.png) no-repeat center;
}
.login .login-type,.register .register-type {
	position: relative;
	margin-top: 40px;
	overflow: hidden;
}
.login .login-type a,.register .register-type a{
	  width: 50%;
	  height: 40px;
	  line-height: 40px;
	  font-size: 1.25em;
	  color: #fff;
}
.login .login-type a:hover{
  border-bottom: 1px solid #fff!important;
}
.hover-on{
	color: #fff!important;
	border-bottom: 1px solid #fff!important;
}
.hover-off{
	color: #ccc!important;
	border-bottom: none!important;
}
.main .login .login-type .validate-login-btn{
	color: #ccc;
	text-align: right;
}
.login .error-msg,.register .error-msg{
	position: absolute;
	right: 0;
	top: 180px;
	width: 340px;
	height: 40px;
	line-height: 40px;
    text-align: right;
    color: #ff6633;
}
.login .user-password,.register .register-user-password{
	margin-top: 50px;
}
.login .user-password .password{
	margin-top: 13px;
}
.login .user-password .user input,.login .user-password .password input,.login .validate-login .validate-code .validate-code-input,
.register .register-user input,.register  .register-password input,.register .register-validate-code-input{
   width: 360px;
   height: 100%;
   padding-left: 40px;
   padding-top: 12px\9;
   height: 28px\9!important;

}
:root .login .user-password .user input, :root .login .user-password .password input, :root .login .validate-login .validate-code .validate-code-input,
:root .register .register-user input, :root .register  .register-password input, :root .register .register-validate-code-input{
   padding-top: 0px;
   height: 100%!important;
}
.login .user-password .user,.login .user-password .password,.login .validate-login .validate-code,
.register .register-user,.register  .register-password,.register .register-validate-code{
    position: relative;
    width: 400px;
    height: 40px;
    margin-top: 15px;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 2px;
}
.standard-label{
    position: absolute;
    left: 0;
    width: 40px;
    height: 40px;
    background-image: url(../images/login_register/login-register-logo.png);
    text-indent: -9999px;
}
.login .user-password .user label{
    background-position:0 -80px ;
}
.register .register-user-password .register-user label{
	background-position:0 -240px;
}
.login .user-password .password label{
   background-position: 0 0;
}
.login .auto-forget{
  margin-top: 10px;
  font-size: 1em;
  color: #fff;
}
.login .auto-forget input,.register .user-protocol input{
	  width: 16px;
      height: 19px;
	  margin-right: 5px;
	  vertical-align: middle;
	 -webkit-appearance: checkbox;
}
.login .user,.register .register-user{
	position: relative;
}
.login .auto-forget a,.third-register a{
	font-size: 1em;
	color: #fff;
}
.login .auto-forget a:hover,.third-register a:hover{
	text-decoration: underline;
}
.login .general-login .general-true,.login .validate-login .validate-true,.register .general-true{
	position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background-image:url(../images/login_register/login-register-logo.png);
    background-repeat: no-repeat;
    background-position: 0 -320px;
}
.login .validate-login .validate-code,.register .register-validate-code{
   width: 246px;
}
.login .validate-login .validate-code,.register .register-validate-code,
.register .register-password,.register .register-password-confirm{
    margin-top: 13px;
}
.login .validate-login .validate-code .validate-code-input,.register .register-validate-code .register-validate-code-input{
	width: 206px;
	background-position: 0 -160px;
}
.login .img-validate,.register .img-validate{
	margin-top: 13px;
	height: 40px;
}
.login .img-validate input,.register .img-validate input{
	width: 100px;
	height: 40px;
	padding-left: 5px;
	background-color: #ededed;
	border-radius: 2px;
	padding-top: 12px\9;
    height: 28px\9;
}
:root .login .img-validate input, :root .register .img-validate input{
   padding-top: 0px;
   height: 100%!important;
}
.login .img-validate img,.register .img-validate img{
	width: 106px;
	height: 40px;
	margin: 0 8px;
	vertical-align: top;
}
.login .img-validate a,.register .img-validate a{
	font-size: .85em;
	color: #999;
	vertical-align: middle;
}
.login .login-btn,.register .register-btn{
	display: block;
	width: 400px;
	margin-top: 50px;
	color: #fff;
	font-size: 1.125em;
	line-height: 40px;
	text-align: center;
    background-color: #ad9165;
}
.register .register-btn{
	margin-top: 10px;
}
.register .user-protocol{
	margin-top: 50px;
	color: #fff;
	text-align: center;
}
.register .user-protocol label,.login .auto-forget label{
	cursor: pointer;
}
.register .user-protocol a{
   color: #fff;
   font-size: 1em;
}
.register .user-protocol a:hover{
   color: #ad9165;
}
.third-register{
	margin-top: 35px;
	overflow: hidden;
}
.third-register .login-register-link{
	margin-top: 8px;
}
 .third-register .login-wechat,.third-register .login-microblog,.third-register .login-qq{
   width: 40px;
   height: 40px;
   margin-right: 10px;
   background-image: url(../images/login_register/third-login-logo.png);
   background-repeat: no-repeat;
}
 .third-register .login-qq{
	background-position: 0 -160px;
}
.third-register .login-wechat{
	background-position: 0 0;
}
.third-register .login-microblog{
	background-position: 0 -80px;
}
.third-register .login-qq:hover{
	background-position: 0 -200px;
}
.third-register .login-wechat:hover{
	background-position: 0 -40px;
}
.third-register .login-microblog:hover{
	background-position: 0 -120px;
}

/*third-after-main*/
.third-after-main{
	height:700px; 
	margin-top:90px;
	margin-bottom: 120px; 
	background-color: #ececec;
}
.third-after-register ,.third-after-login{
	position: relative;
}
.third-after-register{
   margin-left: 130px;
}
.third-after-login{
   margin-right: 130px;
}
.third-after-login .register-type, .third-after-register .register-type {
   margin-top: 100px;
}
.third-after-login .register-type a, .third-after-register .register-type a{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.25em;
    color: #666;
    border-bottom: 1px solid #999;
}
.third-after-register .user-protocol a {
    color: #999;
}
.third-after-login .error-msg, .third-after-register .error-msg {
	top: 155px;
}
.third-after-login .login-btn, .third-after-register .register-btn{
	 font-size: 1.125em;
}
.third-after-login .img-validate input, .third-after-register .img-validate input{
	background-color: #fff;
}
.header {
    border-bottom: 1px solid #d1cdc8;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #333;
}
a.notRegister {
	color: #ad9165;
}
a.notRegister:hover {
	color: #c3ab84;
}
.login-after-main .header .top-bar .quick-menu>li:hover{
    height: 60px;
    border-bottom: none;
}
.password-normal, .password-strong,.password-middle,.password-weak{
  float: right;
  margin-top: 15px;
}
.password-normal li, .password-strong li, .password-middle li, .password-weak li{
	 float: left;
	 width: 21px;
	 height: 12px;
	 margin-left: 5px;
	 background-color: #a49c91;
}
.password-strong li{
     background-color: #c3ab84;
}
.password-middle li.first-li,.password-middle li.second-li{
	 background-color: #dda638;
}
.password-weak li.first-li{
	 background-color: #ff6633;
}
.password-normal li{
   background-color: #a49c91;
}